body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: large;
}
h1{
    font-size: 60px;
}
h1{
    border-left: 7px salmon;
}
#cmt {
    color: gold;
}
.etm {
    margin-top: 150px;
}
.half img{
    width: 80%;
}
.half{
    width: 50%;
    padding-left: 4%;
}
.top{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-color: tomato;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}